@tailwind base;
@tailwind components;
@tailwind utilities;

.seat-row {
  display: flex;
  gap: 10px;
}

.seat {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.seat.sold {
  background-color: #ffcccc; 
}

.seat.selected {
  background-color: #ccffcc;
}

.seat-price {
  font-weight: bold;
}

.seat-container {
  margin-top: 20px;
}


.seat-number {
  font-size: 12px;
  text-align: center;
  padding: 5px;
}

.header .seat {
   background-color: transparent;
    border: none;
}

.header .seat-number {
  background-color: transparent;
  border: none;
} 

.row-number {
  background-color: transparent;
  border: none;
}

.seat-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.seat-chunk {
  flex: 0 0 auto;
  margin-bottom: 20px;
  padding: 10px;
}

